*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-all-text-pages:#1D1D20;
    --color-text-1-page-home:#FFC400;
    --color-text-2-page-home:#1A91F0;
    --color-button-all-pages:#1A91F0;
    --color-text-button:#FFFFFF;
    --Font-pages:"Inter",  var(--Font-secundaria) ;
    --Font-secundaria:'Arial', sans-serif ;

}
 
.containerglobal{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto; 
  }


  
  