/* Styles formularios global */

 
.containerComponents{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
  }
  .autoheight{
    height: auto;
  }

  
  .formcontain{
    max-width: 1100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    gap:20px ;
}


.inputparagafo{
  font-family: var(--Font-pages);
  font-size: 16px;
  color: var(--color-all-text-pages);
  margin-left: 13px;
}

.customFlatpickr{
  font-family: var(--Font-pages);
  color: var(--color-all-text-pages);
}

.inputGroup {
    font-family: var(--Font-pages);
    margin: 1em 0 1em 0;
    width: 450px;
    position: relative;
  }
  
  .inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 12px;
    width: 100%;
  }
  

  
  .inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: var(--color-all-text-pages);
  }
  
  .inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    color: var(--color-text-2-page-home);
    background-color:white;
  }
  
  .inputGroup :is(input:focus, input:valid) {
    border-color: var(--color-button-all-pages);
  }



/*Estilo check box*/
.inputGroupckeckbox{
  display: flex;
  justify-content: start;
   width: 450px;
   font-size: 100%;
    padding: 1.1em;
    outline: none;
    border:none;
    width: 100%;
     gap: 10px;
}

.date{
  display: flex;
  justify-content: space-between;

}
.date .inputGroup{
  width: 210px;
}


.descricaovaga{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.indextext{
  margin: 20px 0;
  color: var(--color-text-1-page-home);
  width: 100vw;
  text-align: center;
  font-family: var(--Font-pages);
}


.checkboxtruorfalse{
  color: var(--color-all-text-pages);
  font-family: var(--Font-pages);
  font-weight: bold;
  font-size: 14px;
}

  @media (max-width:500px ){
    .inputGroup{
        width: 280px;
    }
    

    .date .inputGroup{
      width: 135px;
    }
  }

  @media (max-width:350px ){
    .inputGroup{
        width: 220px;
    }
    .date .inputGroup{
      width: 105px;
    }
  }

  @media (max-width:1021px){
    .formcontain{
      gap: 0;
    }
  }
  

 